<!DOCTYPE html>
<html>
  <html>
    <head>
      <link rel="stylesheet" href="style.css" />
    </head>
    <body>
      <div>
        <nav id="navbar">
          <ul>
              <li>HOME</li>
              <li>SERVICES</li>
              <li>PLAYGROUND</li>
              <li>ABOUT</li>
          </ul>
        </nav>
      </div>
      <form action="" id="form-group">
        <input type="text" placeholder="Enter Something" />
        <input type="text" placeholder="Enter Something" />
        <input type="text" placeholder="Enter Something" />
        <button>Submit</button>
      </form>
    </body>
  </html>
</html>
